{% extends "base.html" %}
{% load static %}


{% block main %}

<main class="col-sm-offset-3 col-sm-6">

  <!-- search bar -->
  <section id="search-bar">
    <form action="{% url 'class-detail' pk=class.pk %}" method="get" class="form-inline">
      <div class="form-group">
        <input class="form-control" id="search-box" type="text" name="q" placeholder="Search by name and age" />
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </section>

  <section>
    <h4 class="text-center">My Students</h4>
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Full Name</th>
          <th>Age</th>
          <th>
            <form action="{% url 'class-detail' pk=class.pk %}" method="get">
              <label for="filter">Filter by subjects:</label>
              <select class="form-control" id="filter" onchange="this.form.submit()" name="filter">
                <option {% if selected_filter == 0 %}selected{% endif %} value="0">All</option>
                {% for subject in subjects %}
                  <option {% if selected_filter == subject.id %}selected{% endif %} value="{{ subject.id }}">
                    {{ subject.title }}
                  </option>
                {% endfor %}
              </select>
            </form>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a href="{% url 'student-detail' class_id=class.id pk=student.pk %}">
                {{ student }}
              </a>
            </td>
            <<td>{{ student.age }}</td>
            <td>
              <a href="{% url 'edit-student' class_id=student.my_class.pk pk=student.pk %}">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="col-sm-offset-4 col-sm-3">
      <a href="{% url 'create-student' pk=class.id %}" class="btn btn-info text-center">Add New Student</a>
    </div>
  </section>
</main>

{% endblock main %}