{% extends "base.html" %}
{% load static %}


{% block main %}

<main class="col-sm-offset-3 col-sm-6">
  <section>
    <h4 class="text-center">{{ student }}'s Subjects</h4>
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Subjects</th>
          <th>Scores</th>
        </tr>
      </thead>
      <tbody>
        {% for score in score_sheet %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ score.subject.title }}</td>
            <td>{{ score.score|default:"--" }}</td>
            <td>
              <a href="{% url 'assign-score' pk=score.pk %}">
                Assign Score
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </section>
</main>

{% endblock main %}